.body{

    text-align:center;
    background-image:url(../Images/BBD-Custom-Login.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
}
.body-content {
    text-align:center;

}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #FCBE1B;
    padding: 10px;
    background-color: #2A2B7B;
}

    .center:hover {
        margin: auto;
        width: 60%;
        border: 3px solid #ffffff;
        padding: 10px;
    }

    .center img {
        width: 100%;
    }

.heading {
    text-align: center;
    
}

.sylla-section h3 {
    color: #ffffff;
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    
}



    .sylla-section h3:after {
        width: 100px;
        height: 2px;
        background-color: #FCBE1B;
        display: block;
        content: "";
        margin: 0 auto;
        margin-top: 10px;
 }
.form-group {
    color:#FCBE1B;

}
    .form-group .btn {
        margin:12px;
    }
