
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Email Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <header class="text-center">
    <h1>Send us an Email</h1>
    </header>

    <section class="email">

    </section>

</body>
</html>

