<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>