
#carousel {
    width: 960px;
    height: 300px;
    position: relative;
    clear: both;
    overflow: hidden;
    /*background: #2A2B7B;*/
    text-align: center;
}

    #carousel img {
        visibility: hidden; /* hide images until carousel can handle them */
        cursor: pointer; /* otherwise it's not as obvious items can be clicked */
    }

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

    .center:hover {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

#carousel img {
    border: 2px solid #FCBE1B;
}
